h1 {
    color: red;
    background-color: orange;
    font-family: Comic Sans Ms;
    font-size: 50px;
  }
  h2 {
    font-family: Comic Sans MS;
    color: red;
    background-color: orange;
  }
  .list {
    color: red;
    font-family: Comic Sans MS;
  }
  p {
    font-family: Comic Sans Ms;
    color: red;
    b
  }
  h3 {
    font-family: Comic Sans Ms;
    color: red
    
  }
   
  body {
    background-color: orange;
  }
    
    
    
    